/************************************************************************
// For extensive details about creating a Populr theme, please visit
// http://developers.populr.me/theming
*/


// You must import variables.less before importing populr_mixins.less
@import 'palette-custom';
@import 'palette-profile';
@import 'palette-default';
@import 'variables';
@import 'http://populr.me/assets/developers/populr_mixins.less';
@import 'preboot';


// Call preboot.less's reset to reduce browser inconsistencies
#reset > .global-reset();


/////////////////////////////////////////////////////////////////////////
// Typography defaults

@text-color: #111;
// @custom-color is defined in variables.less
@link-color: @custom-color;
@pop-bg-color:#ECECEC;
@orange:#c26c23;
@dark-grey:#333333;

//Variables pulled from default.less & profile.less
@body-font-family:@palette-body-font-family;
@body-font-size-1:@palette-body-font-size-1;
@body-font-size-2:@palette-body-font-size-2;
@body-font-size-3:@palette-body-font-size-3;
@body-line-height:@palette-body-line-height;

//headeline-font-family is same for both pages, thus there is no need to pull it from different palette. 
@headline-font-size-1:@palette-headline-font-size-1;
@headline-font-size-2:@palette-headline-font-size-2;
@headline-font-size-3:@palette-headline-font-size-3;
@headline-line-height:@palette-headline-line-height;

@pop-title-font-size:@palette-pop-title-font-size;

h1, h2, h3, h4, h5, h6 { text-shadow: 0 1px 1px rgba(0,0,0,0.4); }

// Title text defaults
// @headline-font-family is defined in variables.less
.headline-text(@font-size:24px; @line-height:@headline-line-height) {
  font-family: @headline-font-family;
  font-size: @font-size;
  line-height: @line-height;
}
.pop-title-text() {
  font-family: @headline-font-family;
  font-size: @pop-title-font-size;
  line-height: 1.4;
}

.body-text(@font-size:@body-font-size-1) {
  font-family: @body-font-family;
  font-size: @font-size;
  line-height: @body-line-height;
}
.my-opacity(@opacity:1){
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity})";

  /* IE 5-7 */
  filter: alpha(opacity=@opacity);

  /* Netscape */
  -moz-opacity: @opacity;

  /* Safari 1.x */
  -khtml-opacity: @opacity;

  /* Good browsers */
  opacity: @opacity;
}

#pop {
  font-family: @body-font-family;
  color: @text-color;
  i, em { font-style: italic; }
  b, strong { font-weight: 700; }

  a {
    color: @link-color;
    &:active { color: lighten(@link-color, 20%); }
  }
}
#pop-parent-for-bg{
    position: relative;
    overflow: hidden;
    margin:0;
    background:@pop-bg-color  url("@{base-url}/images/background-image.png");
    border-top:4px solid @custom-color;
}

// End typography defaults
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Structure

// Content wrapper
#main-content { margin: 0 auto; }

// Logo helper
#pop-logo {}

// Pop title
#pop-title {
  
  .pop-title-text();
  //text-align: center;
  
}

.columnizer-col {
  //background-color: #bbb;
 // padding: 10px 20px;
}

// Assets
.asset-title {
  .headline-text();
  margin: 15px 0;
}

.description, .body {
  .body-text();

  margin: 0;
  ul, ol { margin: .5em 0 .5em 1.5em; }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
}
//all the padding of assets
.asset{
    //padding:0 20px;
}

//text styling of all assets according to asset size
.asset-size-1{
    .asset-title{
        .headline-text(@headline-font-size-1);
    }
    .description, .body, .description li, .body li {
        .body-text(@body-font-size-1);
    }
}

.asset-size-2{
    .asset-title{
        .headline-text(@headline-font-size-2);
    }  
    .description, .body, .description li, .body li {
        .body-text(@body-font-size-2);
    }
}

.asset-size-3{
    .asset-title{
        .headline-text(@headline-font-size-3);
    }
    .description, .body, .description li, .body li {
        .body-text(@body-font-size-3);
    }
}

.asset{
    overflow: hidden;//asset size-1 image and embed was floated. Thus .asset got no height. So in the editor the orange box was not showing.
}

// Text asset styling


// Image asset styling
.my-lightbox-parent{
    .populr-image-slider{
        z-index:15;
    }
    overflow: hidden;
    position: relative;
    .my-center{
        position:absolute;
        display:table;
        width:100%;
        margin-top: -30px ;
        padding:0;
        top:50%;
        left:0;
        text-align: center;
        z-index:10;
        span{
            padding:20px;
            height:20px;
            width:20px;
            .my-opacity(0);
            display: inline-block;
            border-radius:100%;
            -moz-border-radius:100%;
            -ms-border-radius:100%;
            -o-border-radius:100%;
            -webkit-border-radius:100%;
            background-color:@link-color;
            .icon{
                position: relative;
                top: -2px;
                left: 1px;
                text-align: center;
                color: white;
                font-size:25px;
                font-style: normal!important;

            }
        }
    }
    &:hover .populr-image-slider{.my-opacity(0.5)}
    &:hover span{.my-opacity(0.5)}
}
#populr > #image-slider-themes > .basic();

.columnizer-row-contents-imagegroup,.columnizer-row-contents-embedgroup{
    .floated-parent-for-imagegroup-embedgroup-texts{
        width:392px;
        float: right;
    }
    .columnizer-col1 .my-lightbox-parent,.columnizer-col1 .embed, .columnizer-col1 .populr-image-slider{
        float: left;
        width:468px;
    }
}



// Document asset styling
.documents {
  margin: 10px auto;

  li { 
    margin-bottom: 1em;

    a {
      text-decoration: none;
      line-height: 1.2;
      
      i.icon { font-style: normal !important; }
    }
  }
}

//margin-padding

.columnizer-row:first-child{
    .columnizer-col{
        margin-top:40px;
    }
}
.columnizer-row:last-child{
    .columnizer-col{
        margin-bottom:0;
    }
}
.asset-type-documentgroup .asset-title,.asset-type-text .asset-title {
    .columnizer-col &{
        margin-top: -5px;
    }
}

//embed

.asset-type-embedgroup.asset-size-1 .embed { width:468px;height: 337px; }
.asset-type-embedgroup.asset-size-2 .embed { height: 226px; }
.asset-type-embedgroup.asset-size-3 .embed { height: 226px; }

.embed{
    margin-bottom:15px;
    .embedded-object{height:100%!important;}
}

// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


// End structure
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Mobile
//
// The Populr mobile reset will handle some of the basics of mobilizing 
// your theme, such as stacking all of the assets vertically and scaling 
// them to 100% of the width of their container. However, you'll have to 
// fine tune the styling to make your theme look really good on mobile
// devices.

@media screen and (max-width: 960px) {
  #populr > .mobile-reset();

  // Edit the grid for mobile
  .columnizer-row-inner,{ max-width: 640px!important;}
    #header-inner{
        max-width: 620px!important;
        padding:0 15px!important;
    }
    #footer-inner{
        max-width:540px!important;
    }
  #logo-title{
    width:100%!important;
  }
  #pop-title{
    width:100%!important;
    float: none!important;
    position:static!important;
    .link-btn{
        position:relative!important;
        float:none!important;
        margin:0!important;
        top:0!important;
    }
  }
    
  #shadow{
    width:100%!important;
  }

  .asset-type-documentgroup .asset-title,.asset-type-text .asset-title {
    .columnizer-col &{
        margin-top: 0!important;
    }
 }
  
  #pop-logo{
    background:none!important;
    float:none!important;
  }
  .columnizer-col { margin: 32px 10px!important; }
  
  .cs-address {
    display: none!important;
  }
  .columnizer-col:last-child{margin-bottom:0!important;}
  // Edit the typography for mobile
  #profile-background{
    max-width:640px!important;
    margin:0 auto!important;
  }
  #pop-title { font-size: 24px !important; }
  .asset-title { font-size: 24px !important; }
  .description, .body, .description li, .body li { font-size: 14px !important; }
  .asset-title, .description, .body, .description li, .body li { text-align: left !important; }
  
  .floated-parent-for-imagegroup-embedgroup-texts,.columnizer-col1 .my-lightbox-parent,.columnizer-col1 .embed,.columnizer-col1 .populr-image-slider{
        width:auto!important;
        float:none!important;
  }
}

@media screen and (max-width: 600px) {
 
  #pop-title { 
    font-size: 24px !important; text-align:center!important; 
  }
    #header #header-inner #logo-title #pop-title .link-btn{
        float:none!important;margin:10px 28%!important;
        width:auto!important;
    }
  
  .asset-title { font-size: 20px !important }
  .footer-left,.logo-cs-mini,.cs-address {
        display: none!important;
  }
   #pop-logo{
        margin:0 auto!important;
   }
  .nav-social li{
    margin-right: 5.85151%!important;
    width: 13.3188%!important;
    a{margin:auto!important;}
  }
  .footer-right{
    width:100%!important;
    margin: auto!important;
  }
  #footer-inner{
    border-radius:0!important;
    width:auto!important;
  }
  .nav-social{
        width:100%!important;
  }
}
