#default-header{
    display:none;
}
#profile-header{
    display:block;
    margin:0 auto;
    position: fixed;
    z-index:100;
    #profile-header-inner{
        max-width:960px;
    }
}
#profile-background{
    display:block;
    width:960px;
    height:382px;
    margin:0 auto;
}
