@orange:#da6b11;
@black:#000000;
@color-palette:@orange;
#default-header{
    display: none;
}

#profile-header{
    display: block;
    position: fixed;
    z-index:100;
    width:100%;
    
    #profile-header-inner{
        max-width:1000px;
        margin:0 auto;
        padding:30px 0 0 30px;
    }
}

#profile-background{
    display: block;
    width:960px;
    height:382px;
    margin:0 auto;
}

.description, .body, .description li, .body li {
    font-family:@body-profile-font-family;
    line-height:1.8;
} 

.columnizer-row-inner{
    background-color: white;
}

#pop-parent-for-bg{
    padding-bottom:0;
}

#profile-footer{
    display: block;
    background-color:@black;
    width:100%;
    margin:27px 0 0 0;
    padding:0;
    #profile-footer-inner{
        padding:15px;
    }
}

