@orange:#da6b11;
@color-palette:@orange;

#default-header{
    display: none;
}

#profile-header{
    display: block;
    position: fixed;
    z-index:100;
    #profile-header-inner{
        max-width:960px;
        margin:0 auto;
        padding-top:30px;
    }
}

#profile-background{
    display: block;
    width:960px;
    height:382px;
    margin:0 auto;
}
