@color-palette:#da6b11;
#profile-header,#profile-background{
    display: none;
}
#default-header{
    display: block;
}
#default-footer{
    display: block;
}
#profile-footer{
    display: none;
}
.columnizer-row-inner{
    background-color: transparent;
}